body {
  padding: 0;
  margin: 0;
}

.section1 {
  background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0.5), rgba(16, 16, 16, 0.9)), url("../img/login.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.section1-container1 {
  backdrop-filter: brightness(90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.section1-container1 .Logo {
  font-family: "Merriweather", sans-serif;
  font-size: 1.667vw;
  font-weight: 700;
  line-height: 3.704vh;
  color: #FFFFFF;
}
.section1-container1-texts__title {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
.section1-container1-texts__subtitle {
  color: #878787;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.section1-container1-form {
  width: 60%;
}
.section1-container1-form__title {
  color: #FFFFFF;
}
.section1-container1-form__title--red {
  color: #F14141;
}
.section1-container1-form__input {
  width: 100%;
  padding: 10px 0;
  color: #FFFFFF;
  background-color: transparent;
  border-color: #383838;
}
.section1-container1-form-buttons {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.section1-container1-form-buttons__btn {
  border-radius: 8px;
  padding: 15px 0;
  width: 100%;
  color: #FFFFFF;
  background-color: #F14141;
  border-color: #F14141;
}
.section1-container1-form-buttons__btn2 {
  border-radius: 8px;
  padding: 15px 0;
  width: 100%;
  color: #FFFFFF;
  background-color: #383838;
  border-color: #383838;
}
.section1-container1-signin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0 200px;
}
.section1-container1-signin__text {
  color: #FFFFFF;
}
.section1-container1-signin__link {
  color: #F14141;
}

@media screen and (max-width: 1512px) and (min-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    overflow-y: hidden;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 15px 50px;
    width: 100%;
  }
  .section1-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 56px;
  }
  .section1-container1 .Logo {
    padding: 15px 50px;
    font-family: "Merriweather", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
  }
  .section1-container1-texts {
    text-align: center;
  }
  .section1-container1-texts__title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
  }
  .section1-container1-texts__subtitle {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
  }
  .section1-container1-form {
    width: 90%;
  }
  .section1-container1-form__title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
  }
  .section1-container1-form__input {
    padding: 20px 0;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 20px;
  }
  .section1-container1-form-buttons {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
  }
  .section1-container1-form-buttons__btn {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 20px;
    padding: 30px 0;
  }
  .section1-container1-form-buttons__btn2 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 20px;
    padding: 30px 0;
  }
  .section1-container1-form-buttons__img {
    width: 40px;
    height: 40px;
    padding-right: 15px;
  }
  .section1-container1-signin__text {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 20px;
  }
  .section1-container1-signin__link {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 20px;
  }
}

/*# sourceMappingURL=login.css.map */
