@import "_vars";
@import "_mixin";
@import "_reset";

body{
  padding: 0;
  margin: 0;
}
.section1 {
  background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0.5), rgba(16, 16, 16,0.9)), url("../img/login.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  &-container1 {
    backdrop-filter: brightness(90%);
    @include Flex(column, center, center, 15px);

    .Logo {
      @include Merriweather(1.667vw, 700, 3.704vh);
      color: $main-color;
    }

    &-texts {
      &__title {
        color: $main-color;
        @include Inter(40px, 600, 48px);
      }

      &__subtitle {
        color: $nav-color;
        @include Inter(18px, 500, 26px);
      }
    }

    &-form {
      width: 60%;

      &__title {
        color: $main-color;
      }

      &__title--red {
        color: $secondary-color;
      }

      &__input {
        width: 100%;
        padding: 10px 0;
        color: $main-color;
        background-color: transparent;
        border-color: #383838;
      }
    }

    &-buttons {
      width: 60%;
      @include Flex(column, flex-start, center, 15px);

      &__btn {
        border-radius: 8px;
        padding: 15px 0;
        width: 100%;
        color: $main-color;
        background-color: $secondary-color;
        border-color: #F14141;
      }

      &__btn2 {
        border-radius: 8px;
        padding: 15px 0;
        width: 100%;
        color: $main-color;
        background-color: #383838;
        border-color: #383838;
      }
    }

    &-signin {
      @include Flex(row, center, center, 5px);
      padding: 0 200px;

      &__text {
        color: $main-color;
      }

      &__link {
        color: $secondary-color;
      }
    }
  }
}
@media screen and (max-width: 1512px) and (min-width: 375px) {
  body {
    @include Flex(column, center, flex-start, 0);
    overflow-y: hidden;
  }
  .section1 {
    @include Flex(column, center, flex-start, 15px);
    padding: 15px 50px;
    width: 100%;
    &-container1 {
      @include Flex(column, center, flex-start, 56px);
      .Logo {
        padding: 15px 50px;
        @include Merriweather(48px, 700, 40px);
      }

      &-texts {
        text-align: center;
        &__title {
          @include Inter(48px, 600,54px);
        }

        &__subtitle {
          @include Inter(14px, 500, 40px);
        }
      }

      &-form {
        width: 90%;
        &__title{
          @include Inter(48px, 600,54px);
        }
        &__input {

          padding: 20px 0;
          @include Inter(36px, 500, 20px);
        }
      }

      &-buttons {
        width: 90%;
        @include Flex(column, flex-start, center, 15px);

        &__btn {
          @include Inter(36px, 500, 20px);
          padding: 30px 0;
        }

        &__btn2 {
          @include Inter(36px, 500, 20px);
          padding: 30px 0;
        }

        &__img {
          width: 40px;
          height: 40px;
          padding-right: 15px;
        }
      }

      &-signin {
        &__text {
          @include Inter(36px, 500, 20px);
        }

        &__link {
          @include Inter(36px, 500, 20px);
        }
      }
    }
  }
}